- content_for :title do
  = _ 'Edit Profile'

= form_for resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: resource_name} do |f|
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div= _ 'Currently awaiting confirmation for: %{email}' % {email: resource.unconfirmed_email}

  = render 'shared/person_form', form: f

  .row
    = f.input_div :time_zone

  .row
    = f.input_div :password, label: _("Password (leave blank if you don't want to change it)"), field: {autocomplete: :off}
    = f.input_div :password_confirmation, field: {autocomplete: :off}

  .row
    = f.input_div :current_password, label: _('Current password (required in order to confirm your changes)'), field: {autocomplete: :off}

  .row
    = f.submit _ 'Save'

%h3= _ 'Cancel my account'
%p
  = _ 'Unhappy?'
  = button_to _("Cancel my account"), registration_path(resource_name), data: { confirm: _("Are you sure?") }, method: :delete

= link_to _("Back"), :back
