- content_for :title do
  = _ 'Sign Up'

= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: resource_name} do |f|

  = render 'shared/person_form', form: f, email_hint: true

  .row
    - placeholder = @validatable ? n_('%{n} character minimum', '%{n} characters minimum', @minimum_password_length) % {n: @minimum_password_length} : nil
    = f.input_div :password, field: {autocomplete: :off, placeholder: placeholder}
    = f.input_div :password_confirmation, field: {autocomplete: :off}

  .actions
    = f.submit _("Sign up")

= render "devise/shared/links"