.user
  %p= _ 'From'
  %p= simple_format @user.name_and_address

.client
  %p= _ 'Client'
  %p= simple_format @client.name_and_address

.project= _ 'Project: %{project}' % {project: @project.name}

%table.time_entries
  %thead
    %tr
      %th= _ 'Date'
      %th= _ 'Description'
      %th= _ 'Hours'
      %th= _ 'Notes'
  %tbody
    - @time_entries.each do |time_entry|
      %tr
        %td.date= time_entry.date
        %td.description= time_entry.description
        %td.hours= time_entry.hours
        %td.notes= time_entry.notes
