.person
  .row
    = form.input_div :name
    = form.input_div :company
    - if !defined?(email) || email
      = form.input_div :email, label: _('E-mail address')
  .row
    = form.input_div :street, type: :textarea
    = form.input_div :city
    = form.input_div :state
    = form.input_div :zip, label: _('ZIP code')
