- content_for :title do
  = _ 'My Clients'

%p
  = link_to new_client_path, class: :button do
    %span.fi-torsos-male-female
    = _("New client")

- if @clients.present?
  %table
    %thead= render 'header'
    %tbody= render @clients
- else
  %p!= _ 'You have no clients yet. Why not %{a}add some%{/a}?' % {a: "<a href='#{new_client_path}'>".html_safe, '/a': '</a>'.html_safe}