- content_for :title do
  = _ 'My Projects'

%p
  = link_to new_project_path, class: :button do
    %span.fi-clipboard-notes
    = _("New project")

- if @projects.present?
  %table
    %thead= render 'header'
    %tbody= render @projects
- else
  %p!= _ 'You have no projects yet. Why not %{a}add some%{/a}?' % {a: "<a href='#{new_project_path}'>".html_safe, '/a': '</a>'.html_safe}
