= form_for time_entry, html: {class: :time_entry} do |f|
  .row
    = f.input_div :date
    = f.input_div :description
  .row
    = f.input_div :hours
    = f.input_div :notes

  .row.collapse
    = f.submit _('Save')