= form_for time_entry, html: {class: :time_entry} do |f|
  .row
    = f.input_div :date
    = f.input_div :description
    .project
      = f.label :project_id
      = render_cell :project_selector, :show, form: f, user: current_user
  .row
    = f.input_div :hours
    = f.input_div :notes

  .row.collapse
    = f.submit _('Save')