- content_for :title do
  = _ 'Time Entries'

%p
  = link_to new_time_entry_path, class: :button do
    %span.fi-clock
    = _("New time entry")

%table
  %tr
    %th
      -# action links
    %th= _ 'Date'
    %th= _ 'Description'
    %th= _ 'Hours'
    %th= _ 'Notes'
  = render @time_entries