= form_for @time_entry do |f|
  %table
    %tr
      %th= f.label :date
      %td= f.date_field :date
    %tr
      %th= f.label :description
      %td= f.text_field :description
    %tr
      %th= f.label :hours
      %td= f.text_field :hours
    %tr
      %th= f.label :notes
      %td= f.text_area :notes

  = f.submit _('Save')