!!! 5
%html{lang: 'en'}
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= [content_for?(:title) ? yield(:title) : nil, _('Duckbill')].compact.join ' | '

    = favicon_link_tag
    = stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track': true
    = stylesheet_link_tag params[:controller] if !Rails.env.production? || File.exists?(stylesheet_path params[:controller])
    = javascript_include_tag "vendor/modernizr" # must be in head element
    = javascript_include_tag "application", 'data-turbolinks-track': true
    = csrf_meta_tags

  %body
    = render 'shared/navbar'
    #flash
      - if alert
        %p.alert
          %span
          = alert
      - if notice
        %p.notice
          %span
          = notice

    %section#content
      %h1= content_for :title
      = yield
